.header1 {
	
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}

.header2 {
	
    text-align: center;

}

.image {

	width: auto;
	height: auto;
}

.leftside {
     	height: 100%;
	   width: 100%;
}
.image {
	margin-left: 200px;
}
.rightside {

}